/*
 * Fonts
*/
$font-comic-sans: "Comic Sans MS", cursive, sans-serif;

/*
 * Shadows
*/
$shadow-paper: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;

/*
 *  Colors - "Mellow Musings"
*/
$color-white: #FFFFFF;
$color-powder-blue: #C4D4E0;
$color-nantucket: #9AABB9;
$color-apricot: #E2B49A;
$color-jasmine: #E9C77B;
$color-ink: #193446;

/*
 * Header
*/
$header-height: 60px;
$header-padding: 0 15px;
$header-bg-color: $color-white;
$header-box-shadow: $shadow-paper;
/*
 * Logo
*/
$logo-height: 30px;
$logo-font-size: 18px;
$logo-line-height: $logo-font-size + (($logo-height - $logo-font-size) / 2);
$logo-color: $color-ink;
$logo-text-shadow: 0 1px 0 rgba($color-ink, 0.4);

/*
 * Sidebar
*/
$dashboard-width: 100px;
$dashboard-box-shadow: $shadow-paper;

/*
 * Shared Canvas
*/
$shared-canvas-bg-color: $color-white;
$shared-canvas-box-shadow: $shadow-paper;
