/*
 * Fonts
 */
$font-comic-sans: "Comic Sans MS", cursive, sans-serif;

/*
 * Shadows
 */
$shadow-paper: 0 0 1px rgba(34, 25, 25, 0.4);;

/*
 *  Colors - "Mellow Musings"
 */
$color-white: #FFFFFF;
$color-powder-blue: #C4D4E0;
$color-nantucket: #9AABB9;
$color-apricot: #E2B49A;
$color-jasmine: #E9C77B;
$color-ink: #193446;
$color-burgundy: #A3463F;
$color-ash: #CCD0D4;
$color-red: #ED2939;
$color-orange: #F9812A;
$color-yellow: #FADA5E;
$color-green: #00A86B;
$color-blue: #3498DB;
$color-purple: #723584;

/*
 * Header
 */
$header-height: 60px;
$header-padding: 0 15px;
$header-bg-color: $color-white;
$header-box-shadow: $shadow-paper;

/*
 * Logo
 */
$logo-height: 30px;
$logo-font-size: 18px;
$logo-color: $color-ink;

/*
 * Sidebar
 */
$dashboard-bg-color: $color-white;
$dashboard-width: 50px;
$dashboard-box-shadow: $shadow-paper;

/*
 * Shared Canvas
 */
$shared-canvas-bg-color: $color-white;
$shared-canvas-box-shadow: $shadow-paper;

/*
 * Dashboard
 */
$dashboard-icon-size: 40px;
$dashboard-icon-padding: 10px;

/*
 * Squishy Button
 */
$squishy-button-size: $dashboard-icon-size;

/*
 * Colored Box
 */
$colored-box-size: $dashboard-icon-size;
