@import './reset.css';
@import './variables.css';

* {
  box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
  background-color: var(--back-to-work-color);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
