@import './../../styles/mixins/size.scss';
@import './../../styles/variables.scss';

:host {
    @include size($squishy-button-size);
}

@mixin squishy-button-theme($size, $color) {
    background:
        radial-gradient(
            ellipse at center,
            lighten($color,17%),
            lighten($color,12%)
        );

    &:active {
        background: radial-gradient(
            ellipse at center,
            lighten($color, 15%),
            lighten($color, 10%)
        );
    }
}

.squishy-button__button {
    @include size($squishy-button-size);
    border-radius: 50%;
    border: none;

    &:active {
        margin-top: 1px;
        outline: none;
    }

    &:focus {
        outline: none;
    }

    &--red {
        @include squishy-button-theme($squishy-button-size, $color-red);
    }

    &--orange {
        @include squishy-button-theme($squishy-button-size, $color-orange);
    }

    &--yellow {
        @include squishy-button-theme($squishy-button-size, $color-yellow);
    }

    &--green {
        @include squishy-button-theme($squishy-button-size, $color-green);
    }

    &--blue {
        @include squishy-button-theme($squishy-button-size, $color-blue);
    }

    &--purple {
        @include squishy-button-theme($squishy-button-size, $color-purple);
    }
}
