@import '../../styles/variables.scss';

:host {
    display: flex;
    align-items: center;
    height: $header-height;
    padding: $header-padding;
    background-color: $header-bg-color;
    box-shadow: $header-box-shadow;
    line-height: $logo-line-height;
}
