@import '../../styles/variables.scss';

:host {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    background-color: $header-bg-color;
    box-shadow: $header-box-shadow;
    flex-basis: $header-height;
    padding: $header-padding;
}
