@import '../../../../styles/variables.scss';

:host {
    height: $logo-height;
    font-size: $logo-font-size;
    color: $logo-color;
    cursor: pointer;
}

.app-logo__content {
    line-height: $logo-height;
}
