@import './styles/variables.scss';

:host {
    height: 100vh;
    display: grid;
    grid-template-columns: $dashboard-width auto;
    grid-template-rows: $header-height auto;
    grid-template-areas:
        "app-header app-header"
        "app-dashboard app-shared-canvas";
    grid-gap: 5px;
    background-color: $color-burgundy;
}
